@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Controle de estoque</h1>
    <h4>Boas vindas a página inicial do nosso controle de estoque.</h4>
    <p>Preste atenção aos detalhes e confira tudo antes de alterar ou excluir um produto do controle, combinado?</p>
</div>

<div class="text-center">
    <img src="https://i0.wp.com/maino.com.br/wp-content/uploads/2022/09/controle-de-estoque.webp?fit=814%2C596&ssl=1" alt="Controle de Estoque">
</div>
